body { font-size: 16px; width: 100%; }

.room{
    border: 1px solid #ccc;
    display: block;
    width: 100px;
    height: 100px;
    float:left;
    margin: 1%;
}

.dead {
    opacity: .3;
}


#colony-container {

    .room {
        width: 20vw;
        height: 20vw;
        background: #efefef;
        border: black 1px solid;
    }

    .item {
        width: 20%;
        height: 20%;
        border: black 1px solid;
        margin: .2em;
        float: left;
    }

}

#room-container {
    display: flex;
    flex-wrap: wrap;

    .room {
        width: 20vw;

    }

        #starter-room {
        display: flex;
        flex-direction:column;
        text-align: center;
        align-content: center;
        justify-content: space-around;
        .make {
            //opacity: 0;
            flex-grow: 1;
            align-content: center;
            height: 33.3%;
            line-height: 34px;
            transition: .2s all ease-in-out;
        }

        &:hover .make {opacity: 1;}

        #make-top { background: red; }
        #make-middle { background: orange;}
        #make-bottom { background: yellow;}
    }
}


#mars {
    display: flex;
    }
#room-container {
    flex-grow: auto;
    }
#control-panel {
    flex-grow: 1;
    width: 20em;


}
