body {
  font-size: 16px;
  width: 100%; }

.room {
  border: 1px solid #ccc;
  display: block;
  width: 100px;
  height: 100px;
  float: left;
  margin: 1%; }

.dead {
  opacity: .3; }

#colony-container .room {
  width: 20vw;
  height: 20vw;
  background: #efefef;
  border: black 1px solid; }
#colony-container .item {
  width: 20%;
  height: 20%;
  border: black 1px solid;
  margin: .2em;
  float: left; }

#room-container {
  display: flex;
  flex-wrap: wrap; }
  #room-container .room {
    width: 20vw; }
  #room-container #starter-room {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: space-around; }
    #room-container #starter-room .make {
      flex-grow: 1;
      align-content: center;
      height: 33.3%;
      line-height: 34px;
      transition: .2s all ease-in-out; }
    #room-container #starter-room:hover .make {
      opacity: 1; }
    #room-container #starter-room #make-top {
      background: red; }
    #room-container #starter-room #make-middle {
      background: orange; }
    #room-container #starter-room #make-bottom {
      background: yellow; }

#mars {
  display: flex; }

#room-container {
  flex-grow: auto; }

#control-panel {
  flex-grow: 1;
  width: 20em; }
